body{
    background-color: aquamarine;
}
a:hover{
    color: #e407f4c9;
}
h1{
    text-align: center;
    color: blueviolet;
}
.logo{
    font-size: 50px;
    text-align: center;
}
.conteiner{
    display: flex;
    height: 3em;
    background-color: #0876c9c9;
    border: 1px solid white;
    text-align: center;
}
#sobre-nosotros .pinga{
    text-align: center;
}